body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;

  }

  header{
    position: absolute;
    top: 0;
    background-color: #CFE1F3;
    z-index: 5000;
  }

  .card.layer.col-12 {
    display: block;
    background-color: #f0f0f0;
    margin-top: 3vh;
    background-color: white;
    display: flex;
    justify-content:space-between;
}

#logo {
  width: 10vh;
}

.card.layer.col-12 img {
    width: 4vh;
    margin-right: 1vh;
}

.card.layer.col-12:hover {
    background-color: whitesmoke;
}

.card.layer.col-12 img {
  width: 4vh;
  margin-right: 1vh;
}

.icon-buttons {
    display: flex;
    flex-direction: column;
}

#panel-container{
  width: 30%;
  margin-left: 0;
}

  #panel{
    width: 30%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    position:absolute;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5000;
    border-radius: 1%;
    border: 0;
    opacity: 90%;
    height: 100vh;
  }

  #map {
    height: 100vh;
    width: 70%

    }
  
  #header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  


#bottom-panel {
    bottom: 0;
    left: 0;
    position: fixed;
    max-height: 50%;
    width: 100%;
    z-index: 5000;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: bottom 0.3s ease-out;
    overflow-y: auto; /* Agrega un desplazamiento vertical si el contenido es más grande que el panel */
    padding: 5px;
    box-sizing: border-box;
    position:absolute;
    overflow-y: auto;
    border-radius: 1%;
    border: 0;
    opacity: 90%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  #titulo {
    font-size: xx-large;
    font-weight:bold ;
}

  #flecha {
    border-radius: 15%;
    position: relative;
    width: fit-content;
    max-width: 300px;
    padding: 4px;
    transform: rotate(180deg);
}

#toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #toggleIcon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  #panel-container.collapsed #toggleIcon {
    transform: rotate(0deg);
  }

  #contadores-container {
    z-index: 10000;
    position: absolute;
    top: 1%;
    left:2%;
    margin-right: 1%;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
    padding: 10px;
}

.contador {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}



.ficha{
  padding: 1vh;
  margin-bottom: 0.5vh;
}

.ficha:hover{
  background-color: aliceblue;
}

#bottom-panel{
  display: none;
  }



  @media (max-width: 768px) {
    
  #titulo {
      font-size: medium;
      font-weight: lighter;
      padding: 1vh;
  }

  
  #logo {
    width: 7vh;
}


#map{
  width: 100%;
}

#bottom-panel{
display: block;
}

  }